In [71]:
# this is a parameter that will get overwritten when run by papermill on a schedules
is_local_development = True

In [72]:
!python -m pip install gitlabdata --upgrade

Requirement already satisfied: gitlabdata in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (0.3.28)
Requirement already satisfied: snowflake-sqlalchemy>=1.1.10 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from gitlabdata) (1.4.4)
Requirement already satisfied: pandas>=0.25.3 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from gitlabdata) (1.4.2)
Requirement already satisfied: pyyaml==6.0.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from gitlabdata) (6.0)
Requirement already satisfied: pygsheets==2.0.5 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from gitlabdata) (2.0.5)
Requirement already satisfied: google-api-python-client>=1.5.5 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from pygsheets==2.0.5->gitlabdata) (2.92.0)
Requirement already satisfied: google-auth-oauthlib in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from pygsheets==2.0.5->gitlabdata) (1.0.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from pandas>=0.25.3->gitlabdata) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from pandas>=0.25.3->gitlabdata) (2023.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from pandas>=0.25.3->gitlabdata) (1.23.5)
Requirement already satisfied: sqlalchemy<2.0.0,>=1.4.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-sqlalchemy>=1.1.10->gitlabdata) (1.4.48)
Requirement already satisfied: snowflake-connector-python<3.0.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-sqlalchemy>=1.1.10->gitlabdata) (2.7.8)
Requirement already satisfied: httplib2<1.dev0,>=0.15.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from google-api-python-client>=1.5.5->pygsheets==2.0.5->gitlabdata) (0.15.0)
Requirement already satisfied: google-auth<3.0.0.dev0,>=1.19.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from google-api-python-client>=1.5.5->pygsheets==2.0.5->gitlabdata) (2.19.1)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from google-api-python-client>=1.5.5->pygsheets==2.0.5->gitlabdata) (0.1.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from google-api-python-client>=1.5.5->pygsheets==2.0.5->gitlabdata) (2.11.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from google-api-python-client>=1.5.5->pygsheets==2.0.5->gitlabdata) (4.1.1)
Requirement already satisfied: six>=1.5 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->gitlabdata) (1.16.0)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (1.5.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (2023.5.7)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (1.15.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (2.0.12)
Requirement already satisfied: cryptography<37.0.0,>=3.1.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (36.0.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (3.4)
Requirement already satisfied: oscrypto<2.0.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (1.3.0)
Requirement already satisfied: pyOpenSSL<23.0.0,>=16.2.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (22.0.0)
Requirement already satisfied: pycryptodomex!=3.5.0,<4.0.0,>=3.2 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (3.18.0)
Requirement already satisfied: pyjwt<3.0.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (2.7.0)
Requirement already satisfied: requests<3.0.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (2.31.0)
Requirement already satisfied: setuptools>34.0.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (67.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from sqlalchemy<2.0.0,>=1.4.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (2.0.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from google-auth-oauthlib->pygsheets==2.0.5->gitlabdata) (1.3.1)
Requirement already satisfied: pycparser in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python<3.0.0->snowflake-sqlalchemy>=1.1.10->gitlabdata) (2.21)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=1.5.5->pygsheets==2.0.5->gitlabdata) (1.59.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=1.5.5->pygsheets==2.0.5->gitlabdata) (3.19.6)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client>=1.5.5->pygsheets==2.0.5->gitlabdata) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client>=1.5.5->pygsheets==2.0.5->gitlabdata) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client>=1.5.5->pygsheets==2.0.5->gitlabdata) (4.9)
Requirement already satisfied: urllib3<2.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client>=1.5.5->pygsheets==2.0.5->gitlabdata) (1.26.16)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->pygsheets==2.0.5->gitlabdata) (3.2.2)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client>=1.5.5->pygsheets==2.0.5->gitlabdata) (0.5.0)

In [73]:
import configparser

# import sys
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
from datetime import date
import json, os
from pyprojroot import here
from os import environ as env
import re

In [74]:
from gitlabdata.orchestration_utils import (
    data_science_engine_factory,
    query_dataframe,
    snowflake_engine_factory,
    snowflake_stage_load_copy_remove,
    get_env_from_profile,
    dataframe_uploader,
    write_to_gsheets,
    read_from_gsheets,
    query_executor,
    query_from_file,
)

## Create Snowflake engine

In [75]:
# engine factory can be created using a local role from output
# depending on this notebook being run locally or remotely, the
# engine is creation process is different

if is_local_development:
    snowflake_engine = data_science_engine_factory(
        profile_target="sales_analytics_local"
    )
else:
    snowflake_engine = snowflake_engine_factory(env, "SALES_ANALYTICS")

    raw_db_name = env["SNOWFLAKE_LOAD_DATABASE"]
    prod_db_name = env["SNOWFLAKE_PROD_DATABASE"]

snowflake_engine

Engine(snowflake://nfiguera%40gitlab.com:***@gitlab/RAW/?authenticator=externalbrowser&role=NFIGUERA&warehouse=DEV_XS)

## Credentials for Gsheet manipulation

Remember to give access to the following two users:

- Data Team runner: data-team-sheets-sa@gitlab-analysis.iam.gserviceaccount.com
- Sales Strategy service account: service-revenue-strat-analytic@revenue-strategy-anal-411d5a72.iam.gserviceaccount.com

In [76]:
# read the credentials of the google service account
if is_local_development:
    credentials_path = here("credentials/rsa_gcloud_service_account.json")
    # credentials_path = here("credentials/gsheet_service_file.json")

    with open(credentials_path) as f:
        service_account_credentials = f.read().replace("\n", "")

    # set the credential as a enviroment variable
    os.environ["GSHEETS_SERVICE_ACCOUNT_CREDENTIALS"] = service_account_credentials

# Tableau ASM consolidation script

The goal of this notebook is to collect multiple different datasets and stack them in a tall table that can be easier to access from Tableau.

## Load Snowflake data

- Opportunity aggregated / detail
- Opportunity snapshot aggregated

In [77]:
# live opportunity detail
detail_opty = query_from_file(snowflake_engine, "tableau_asm_opportunity_detail.sql")
detail_opty["last_extracted_etl"] = date.today()

detail_opty["record_type"] = "opportunity detail"

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [78]:
# live opportunity agg
agg_opty = query_from_file(snowflake_engine, "tableau_asm_opportunity_agg.sql")
agg_opty["last_extracted_etl"] = date.today()

agg_opty["record_type"] = "net arr aggregated"

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [79]:
# snapshot opportunity agg
snap_opty = query_from_file(
    snowflake_engine, "tableau_asm_opportunity_snap_open_closed_agg.sql"
)
snap_opty["last_extracted_etl"] = date.today()
snap_opty["record_type"] = "opportunity snapshot cq open closed agg"

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [80]:
# snapshot opportunity agg
snap_cq1_opty = query_from_file(
    snowflake_engine, "tableau_asm_opportunity_snap_open_cq_plus_1_agg.sql"
)
snap_cq1_opty["last_extracted_etl"] = date.today()
snap_cq1_opty["record_type"] = "opportunity snapshot cq plus 1 open agg"

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [81]:
# snapshot opportunity agg
snap_cq2_opty = query_from_file(
    snowflake_engine, "tableau_asm_opportunity_snap_open_cq_plus_2_agg.sql"
)
snap_cq2_opty["last_extracted_etl"] = date.today()
snap_cq2_opty["record_type"] = "opportunity snapshot cq plus 2 open agg"

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [82]:
# pipe gen aggregated live
pipe_gen_agg_opty = query_from_file(
    snowflake_engine, "tableau_asm_opportunity_pipe_gen_agg_live.sql"
)
pipe_gen_agg_opty["last_extracted_etl"] = date.today()
pipe_gen_agg_opty["record_type"] = "pipe gen live agg narr"

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [83]:
# pipe gen snap aggregated same quarter day
pipe_gen_snap_opty = query_from_file(
    snowflake_engine, "tableau_asm_opportunity_pipe_gen_snap_same_day.sql"
)
pipe_gen_snap_opty["last_extracted_etl"] = date.today()
pipe_gen_snap_opty["record_type"] = "pipe gen snap same day narr"

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [84]:
# pipe gen snaphot quarter end aggregated
pipe_gen_snap_qend_opty = query_from_file(
    snowflake_engine, "tableau_asm_opportunity_pipe_gen_snap_agg.sql"
)
pipe_gen_snap_qend_opty["last_extracted_etl"] = date.today()
pipe_gen_snap_qend_opty["record_type"] = "pipe gen snap quarter end narr"

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [85]:
## Consolidate tables into a single dataframe
datasets = [
    detail_opty,
    agg_opty,
    snap_opty,
    snap_cq1_opty,
    snap_cq2_opty,
    pipe_gen_agg_opty,
    pipe_gen_snap_opty,
    pipe_gen_snap_qend_opty,
]
df_consolidated = pd.concat(datasets, axis=0, ignore_index=True)

In [86]:
df_consolidated.groupby("record_type").agg("count")

,owner_id,opportunity_owner,account_id,account_name,report_opportunity_user_business_unit,report_opportunity_user_sub_business_unit,report_opportunity_user_division,report_opportunity_user_asm,report_opportunity_user_role_type,deal_size_bin,...,prev_quarter_booked_churned_contraction_net_arr,prev_year_booked_net_arr,prev_year_booked_deal_count,prev_year_booked_professional_services,prev_year_booked_churned_contraction_net_arr,is_eligible_open_pipeline_flag,snapshot_date,prev_quarter_net_arr,prev_year_net_arr,is_pipe_gen_range_flag
record_type,,,,,,,,,,,,,,,,,,,,,
net arr aggregated,218148,218148,218148,218148,218148,218148,218148,218148,218148,218148,...,25957,81441,81441,81441,34656,0,0,0,0,0
opportunity detail,41024,41024,41024,41024,41024,41024,41024,41024,41024,41024,...,0,0,0,0,0,0,0,0,0,0
opportunity snapshot cq open closed agg,36942,36942,36942,36863,36942,36942,36942,36942,36942,36942,...,0,0,0,0,0,36942,36942,0,0,0
opportunity snapshot cq plus 1 open agg,10401,10401,10401,10400,10401,10401,10401,10401,10401,10401,...,0,0,0,0,0,10401,10401,0,0,0
opportunity snapshot cq plus 2 open agg,4030,4030,4030,4029,4030,4030,4030,4030,4030,4030,...,0,0,0,0,0,4030,4030,0,0,0
pipe gen live agg narr,93555,93555,93555,93555,93555,93555,93555,93555,93555,93555,...,0,29924,29924,0,0,0,0,33496,29924,93555
pipe gen snap quarter end narr,80313,80313,80313,80283,80313,80313,80313,80313,80313,80313,...,0,26836,26836,0,0,0,0,26836,26836,80313
pipe gen snap same day narr,7230,7230,7230,7206,7230,7230,7230,7230,7230,7230,...,0,0,0,0,0,7230,7230,0,0,7230

# Extra adjustments to the dataset

## Load Industry Category

The input tab is here https://docs.google.com/spreadsheets/d/19PPoHdc5nRZRX3dKGeGyYyTwqZ_x7GwD3EaDnwVm9Xs/edit#gid=976122736

The tab was originally created by Meri and adjusted by me.

In [87]:
GSHEET_ID_NET_ARR = "19PPoHdc5nRZRX3dKGeGyYyTwqZ_x7GwD3EaDnwVm9Xs"


sheet_id = GSHEET_ID_NET_ARR
sheet_name = "input_industry_to_industry_category"

industry_category = read_from_gsheets(sheet_id, sheet_name)


print(len(industry_category))

31

In [88]:
df_consolidated = df_consolidated.merge(industry_category, on="industry").copy()
df_consolidated["industry"] = df_consolidated["industry_category"]

In [89]:
# merge industry category and substitute the original field with the adjusted one
# to avoid messing with the view
df_consolidated

,owner_id,opportunity_owner,account_id,account_name,report_opportunity_user_business_unit,report_opportunity_user_sub_business_unit,report_opportunity_user_division,report_opportunity_user_asm,report_opportunity_user_role_type,deal_size_bin,...,prev_year_booked_net_arr,prev_year_booked_deal_count,prev_year_booked_professional_services,prev_year_booked_churned_contraction_net_arr,is_eligible_open_pipeline_flag,snapshot_date,prev_quarter_net_arr,prev_year_net_arr,is_pipe_gen_range_flag,industry_category
0,0058X00000EzOpbQAF,Sam Pitcher,0014M00001yShCqQAK,Cyllene Lille,COMM,EMEA,Mid-Market,SOUTH,TERR,2. (1k - 10k),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business & Financial Serv
1,0058X00000GD3hEQAT,Amanda Shim,0014M00001sEUxJQAW,Ferko Liblik,COMM,AMER,SMB,LOWTOUCHPOOL,POOL,1. (0k -1k),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business & Financial Serv
2,0058X00000GHzmwQAD,Brady O'Dowd,0018X000032XlkWQAS,Oproma,COMM,AMER,SMB,EAST,EXP,1. (0k -1k),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business & Financial Serv
3,0058X00000FQTYEQA5,Ope Obakin,0014M00001ySqLVQA0,Tropic Biosciences Ltd,COMM,EMEA,SMB,NORTH,POOL,1. (0k -1k),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business & Financial Serv
4,0054M000005F7TBQA0,Ryan Tucker,0014M00001laDt3QAE,Lensa Inc.,COMM,AMER,SMB,EAST,KEY,1. (0k -1k),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business & Financial Serv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483492,0054M000005E89UQAS,Tim Guibert - MM Terr,0016100001SqAFGAA3,Brittany Ferries,COMM,EMEA,Mid-Market,SOUTH,TERR,1. (0k -1k),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Transportation
483493,0054M000003wqmaQAA,Jim Bernstein,0016100001ed7meAAA,Princess Cruises,ENTG,AMER,EAST,SE,STR,3. (10k - 50k),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Transportation
483494,0058X00000EzGMbQAN,Nicolas Poulakakis,0016100000NmTpzAAF,DP World,ENTG,EMEA,META,META,STR,3. (10k - 50k),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Transportation
483495,0054M000003xLaLQAU,Rene Hoferichter_Inactive_AE,0014M00001kE0tFQAS,Hapag-Lloyd AG,ENTG,EMEA,DACH,DEVERT2,STR,3. (10k - 50k),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Transportation
483496,0058X00000GH6a2QAD,Kaley Berry,0014M00001gAdLcQAK,Crowley Maritime Corporation,ENTG,AMER,EAST,SE,STR,3. (10k - 50k),...,17112.0,1.0,NaN,NaN,NaN,NaN,NaN,17112.0,False,Transportation

# Tests

In [90]:
index = (
    (df_consolidated["is_open_stage_1_plus"] == True)
    & (df_consolidated["record_type"] == "net arr aggregated")
    & (df_consolidated["close_fiscal_quarter_name"] == "FY24-Q2")
)
df_consolidated[index].net_arr.sum()

127659.12

In [91]:
index = (
    (df_consolidated["is_open_stage_1_plus"] == True)
    & (df_consolidated["record_type"] == "net arr aggregated")
    & (df_consolidated["close_fiscal_quarter_name"] == "FY24-Q3")
)
df_consolidated[index].groupby("industry").net_arr.sum()

industry
Aerospace & Defense            4156336.28
Business & Financial Serv     16326654.09
Construction & Agriculture      415645.16
Education                      1942692.24
Energy & Utilities             3507047.30
Healthcare                      980245.13
Hospitality & Recreation       1941822.36
Manufacturing                 14109480.30
Other                          4798123.63
PubSec                        11668754.13
Retail                         3452513.29
Telco & Technology            23231764.14
Transportation                 1672726.40
Name: net_arr, dtype: float64

In [92]:
### Add Temporary fields

df_consolidated["sao_count"] = 0
df_consolidated["churn_contraction_net_arr"] = 0

## Save Consolidated Table into Snowflake

In [98]:
target_columns = [
    "record_type",
    "owner_id",
    "opportunity_owner",
    "account_id",
    "account_name",
    "report_opportunity_user_business_unit",
    "report_opportunity_user_sub_business_unit",
    "report_opportunity_user_division",
    "report_opportunity_user_asm",
    "report_opportunity_user_role_type",
    "deal_size_bin",
    "age_bin",
    "partner_category",
    "sales_qualified_source",
    "stage_name",
    "order_type_stamped",
    "deal_group",
    "sales_type",
    "forecast_category_name",
    "product_category_tier",
    "product_category_deployment",
    "parent_crm_account_upa_country_name",
    "is_web_portal_purchase",
    "is_open",
    "is_stage_1_plus",
    "is_stage_3_plus",
    "fpa_master_bookings_flag",
    "is_eligible_created_pipeline_flag",
    "opportunity_id",
    "opportunity_name",
    "close_date",
    "created_date",
    "pipeline_created_date",
    "report_date",
    "net_arr",
    "booked_net_arr",
    "open_1plus_net_arr",
    "deal_count",
    "booked_deal_count",
    "age_in_days",
    "total_professional_services_value",
    "total_book_professional_services_value",
    "total_lost_professional_services_value",
    "total_open_professional_services_value",
    "prev_quarter_booked_net_arr",
    "prev_quarter_booked_deal_count",
    "prev_quarter_booked_professional_services",
    "prev_year_booked_net_arr",
    "prev_year_booked_deal_count",
    "prev_year_booked_professional_services",
    "is_open_pipeline_range_flag",
    "is_bookings_range_flag",
    "is_open_stage_1_plus",
    "is_open_stage_3_plus",
    "close_fiscal_year",
    "close_fiscal_quarter_name",
    "key_bu_subbu_division_asm_sqs_ot",
    "key_bu_subbu",
    "last_extracted_etl",
    "snapshot_date",
    "is_cfq_flag",
    "is_cfq_plus_1_flag",
    "is_cfq_plus_2_flag",
    "industry",
    "pipeline_landing_quarter",
    "pipeline_created_fiscal_quarter_name",
    "pipeline_created_fiscal_year",
    "lam_dev_count_bin",
    "lam_dev_count",
    "is_pipe_gen_range_flag",
    "prev_year_net_arr",
    "prev_quarter_net_arr",
    "is_eligible_open_pipeline_flag",
    "sao_count",
    "churn_contraction_net_arr",
    "created_fiscal_quarter_name",
    "created_fiscal_year",
    "prev_quarter_booked_churned_contraction_net_arr",
    "booked_churned_contraction_net_arr",
    "booked_churned_contraction_deal_count",
    "churned_contraction_net_arr",
    "prev_year_booked_churned_contraction_net_arr",
    "current_stage_age_bin",
    "is_cfy_flag",
]

In [99]:
# Print columns in the model but not in the master upload list
list(set(df_consolidated).difference(target_columns))

['close_fiscal_quarter_date', 'industry_category']

In [100]:
# using datetime module
import datetime

# ct stores current time
ct = datetime.datetime.now()
print("current time:-", ct)

current time:- 2023-08-24 14:39:23.577265

In [101]:
%%time
# upload to database
print(len(df_consolidated))

table_name = "tableau_asm_consolidated_sources"
schema = "SALES_ANALYTICS"

dataframe_uploader(
    dataframe=df_consolidated[target_columns],
    engine=snowflake_engine,
    table_name=table_name,
    schema=schema,
    if_exists="replace",
    add_uploaded_at=True,
)

483497

/Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.9/site-packages/gitlabdata/orchestration_utils.py:236: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_df["_uploaded_at"] = time()  # Add an uploaded_at column

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
CPU times: user 2min 50s, sys: 8.1 s, total: 2min 58s
Wall time: 28min 7s

In [102]:
# using datetime module
import datetime

# ct stores current time
ct = datetime.datetime.now()
print("current time:-", ct)

current time:- 2023-08-24 15:07:32.482337