In [1]:
# this is a parameter that will get overwritten when run by papermill on a schedules
is_local_development = True

In [ ]:
!python -m pip install pyprojroot

In [2]:
import configparser

# import sys
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
from datetime import date
import json, os
from pyprojroot import here

In [3]:
from gitlabdata.orchestration_utils import (
    data_science_engine_factory,
    query_dataframe,
    snowflake_engine_factory,
    snowflake_stage_load_copy_remove,
    get_env_from_profile,
    dataframe_uploader,
    write_to_gsheets,
    read_from_gsheets,
    query_executor,
    query_from_file,
)

/Users/nfiguera/.local/share/virtualenvs/data-science-mn1T8veA/lib/python3.8/site-packages/snowflake/connector/options.py:94: UserWarning: You have an incompatible version of 'pyarrow' installed (11.0.0), please install a version that adheres to: 'pyarrow<5.1.0,>=5.0.0; extra == "pandas"'
  warn_incompatible_dep(

## Create Snowflake engine

In [4]:
# engine factory can be created using a local role from output
# depending on this notebook being run locally or remotely, the
# engine is creation process is different

if is_local_development:
    snowflake_engine = data_science_engine_factory(
        profile_target="sales_analytics_local"
    )
else:
    snowflake_engine = snowflake_engine_factory(env, "SALES_ANALYTICS")

    raw_db_name = env["SNOWFLAKE_LOAD_DATABASE"]
    prod_db_name = env["SNOWFLAKE_PROD_DATABASE"]

snowflake_engine

Engine(snowflake://nfiguera%40gitlab.com:***@gitlab/RAW/?authenticator=externalbrowser&role=NFIGUERA&warehouse=DEV_XS)

## Credentials for Gsheet manipulation

Remember to give access to the following two users:

- Data Team runner: data-team-sheets-sa@gitlab-analysis.iam.gserviceaccount.com
- Sales Strategy service account: service-revenue-strat-analytic@revenue-strategy-anal-411d5a72.iam.gserviceaccount.com

In [5]:
# read the credentials of the google service account
if is_local_development:
    # credentials_path = here("credentials/rsa_gcloud_service_account.json")
    credentials_path = here("credentials/gsheet_service_file.json")

    with open(credentials_path) as f:
        service_account_credentials = f.read().replace("\n", "")

    # set the credential as a enviroment variable
    os.environ["GSHEETS_SERVICE_ACCOUNT_CREDENTIALS"] = service_account_credentials

# X-Ray daily ETL update process

This notebook is run daily to update the X-Ray dashboard. 

The process is responsible of updating the following datasets:

1. QTD Metrics
2. Historical values subset

## Excute Snowflake query

In [6]:
qtd_metrics = query_from_file(snowflake_engine, "qtd_metrics_for_xray.sql")

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [7]:
# Test
qtd_metrics.qtd_booked_net_arr.sum()

15228492.74

In [8]:
hist_qtr_metrics = query_from_file(snowflake_engine, "hist_qtr_coverages_for_xray.sql")

In [9]:
hist_qtr_metrics.head()

,key_agg_day,agg_key_name,agg_key_value,agg_key_day,bookings_linearity,open_1plus_net_arr_coverage,open_3plus_net_arr_coverage,open_4plus_net_arr_coverage,rq_plus_1_open_1plus_net_arr_coverage,rq_plus_1_open_3plus_net_arr_coverage,rq_plus_1_open_4plus_net_arr_coverage,rq_plus_2_open_1plus_net_arr_coverage,rq_plus_2_open_3plus_net_arr_coverage,rq_plus_2_open_4plus_net_arr_coverage
0,global_62,key_overall,global,62,0.502880,1.757496,1.527822,1.296471,2.855952,1.420628,0.580224,1.907928,0.651733,0.242485
1,global_63,key_overall,global,63,0.513450,1.745875,1.525572,1.304274,2.849829,1.429411,0.590135,1.924666,0.659076,0.243866
2,global_64,key_overall,global,64,0.524280,1.734953,1.523747,1.312458,2.843515,1.438317,0.600226,1.941689,0.666500,0.245231
3,global_65,key_overall,global,65,0.535389,1.724822,1.522394,1.321058,2.837046,1.447353,0.610498,1.959022,0.674011,0.246583
4,global_66,key_overall,global,66,0.546798,1.715576,1.521562,1.330106,2.830462,1.456528,0.620950,1.976691,0.681616,0.247927

In [10]:
hist_fy_n4q_metrics = query_from_file(
    snowflake_engine, "hist_fy_n4q_coverages_for_xray.sql"
)

In [11]:
hist_fy_n4q_metrics.head()

,agg_key_value_day,agg_key_value,close_day_of_fiscal_year_normalised,cfy_open_1plus_net_arr_coverage,cfy_open_3plus_net_arr_coverage,n4q_open_1plus_net_arr_coverage,n4q_open_3plus_net_arr_coverage,last_updated_at
0,entg_amer_east_sdr generated_61,entg_amer_east_sdr generated,61,6.091709,4.650354,5.973561,4.485621,2023-03-31
1,entg_amer_east_sdr generated_62,entg_amer_east_sdr generated,62,6.089135,4.652081,5.973798,4.489335,2023-03-31
2,entg_amer_east_sdr generated_63,entg_amer_east_sdr generated,63,6.086444,4.653464,5.974066,4.493100,2023-03-31
3,entg_amer_east_sdr generated_64,entg_amer_east_sdr generated,64,6.083642,4.654516,5.974366,4.496916,2023-03-31
4,entg_amer_east_sdr generated_65,entg_amer_east_sdr generated,65,6.080734,4.655247,5.974696,4.500781,2023-03-31

## QTD Metrics Extracts

### QTD Transform data into a pre-aggregated table

In [12]:
# SQL output is imported as a dataframe variable called 'df'

df = qtd_metrics.copy()


# check the subset of columns and if see an na or an other
# set all the keys to other
def check_for_others_or_na(x):
    if ("other" in "\t".join(list(x))) or ("na" in list(x)):
        x = x.apply(lambda x: "other")

    return x


### considered keys
agg_key_list = [
    "key_sqs",
    "key_ot",
    "key_bu",
    "key_bu_subbu",
    "key_bu_subbu_division",
    "key_bu_subbu_division_ot",
    "key_bu_subbu_division_sqs",
]

metrics_list = [
    "qtd_open_1plus_deal_count",
    "qtd_open_3plus_deal_count",
    "qtd_open_4plus_deal_count",
    "qtd_closed_deal_count",
    "qtd_pipe_gen_deal_count",
    "qtd_booked_net_arr",
    "qtd_open_1plus_net_arr",
    "qtd_open_3plus_net_arr",
    "qtd_open_4plus_net_arr",
    "qtd_pipe_gen_net_arr",
    "qtd_created_and_closed_net_arr",
    "rq_plus_1_open_1plus_deal_count",
    "rq_plus_1_open_3plus_deal_count",
    "rq_plus_1_open_4plus_deal_count",
    "rq_plus_1_open_1plus_net_arr",
    "rq_plus_1_open_3plus_net_arr",
    "rq_plus_1_open_4plus_net_arr",
    "rq_plus_2_open_1plus_deal_count",
    "rq_plus_2_open_3plus_deal_count",
    "rq_plus_2_open_4plus_deal_count",
    "rq_plus_2_open_1plus_net_arr",
    "rq_plus_2_open_3plus_net_arr",
    "rq_plus_2_open_4plus_net_arr",
    "minus_1_year_pipe_gen_net_arr",
    "cfy_open_1plus_deal_count",
    "cfy_open_3plus_deal_count",
    "cfy_open_4plus_deal_count",
    "cfy_closed_deal_count",
    "cfy_booked_net_arr",
    "cfy_open_1plus_net_arr",
    "cfy_open_1plus_under_1m_net_arr",
    "cfy_open_3plus_net_arr",
    "cfy_open_4plus_net_arr",
    "next_4q_open_1plus_deal_count",
    "next_4q_open_3plus_deal_count",
    "next_4q_open_4plus_deal_count",
    "next_4q_open_1plus_net_arr",
    "next_4q_open_3plus_net_arr",
    "next_4q_open_4plus_net_arr",
    "next_4q_booked_net_arr",
]

# initialize the dataframe
results = None
##### Initialize a few artificial metrics and update the data types
df[metrics_list] = df[metrics_list].astype(float)

# create an artificial global key to calculate a global curve for the whole company
# df['KEY_OVERALL'] = 'global'
df["key_overall"] = "other"
df.loc[df["key_bu"] != "other", "key_overall"] = "global"

for agg_key_value in agg_key_list:
    temp_agg = df.groupby(agg_key_value)[metrics_list].sum().reset_index()

    temp_agg.rename({agg_key_value: "agg_key_value"}, inplace=True, axis=1)
    temp_agg["agg_key_name"] = agg_key_value

    if results is None:
        results = temp_agg.copy()
    else:
        results = results.append(temp_agg)

results.columns = results.columns.str.lower()

fields_order = [
    "agg_key_value",
    "agg_key_name",
    "qtd_booked_net_arr",
    "qtd_open_1plus_net_arr",
    "qtd_open_3plus_net_arr",
    "qtd_open_4plus_net_arr",
    "qtd_pipe_gen_net_arr",
    "rq_plus_1_open_1plus_net_arr",
    "rq_plus_1_open_3plus_net_arr",
    "rq_plus_1_open_4plus_net_arr",
    "rq_plus_2_open_1plus_net_arr",
    "rq_plus_2_open_3plus_net_arr",
    "rq_plus_2_open_4plus_net_arr",
    "qtd_created_and_closed_net_arr",
    "minus_1_year_pipe_gen_net_arr",
    "qtd_open_1plus_deal_count",
    "qtd_open_3plus_deal_count",
    "qtd_open_4plus_deal_count",
    "qtd_closed_deal_count",
    "qtd_pipe_gen_deal_count",
    "rq_plus_1_open_1plus_deal_count",
    "rq_plus_1_open_3plus_deal_count",
    "rq_plus_1_open_4plus_deal_count",
    "rq_plus_2_open_1plus_deal_count",
    "rq_plus_2_open_3plus_deal_count",
    "rq_plus_2_open_4plus_deal_count",
    "current_fiscal_quarter_day_normalised",
    "last_updated",
    "cfy_open_1plus_deal_count",
    "cfy_open_3plus_deal_count",
    "cfy_open_4plus_deal_count",
    "cfy_closed_deal_count",
    "cfy_booked_net_arr",
    "cfy_open_1plus_net_arr",
    "cfy_open_1plus_under_1m_net_arr",
    "cfy_open_3plus_net_arr",
    "cfy_open_4plus_net_arr",
    "next_4q_open_1plus_deal_count",
    "next_4q_open_3plus_deal_count",
    "next_4q_open_4plus_deal_count",
    "next_4q_booked_net_arr",
    "next_4q_open_1plus_net_arr",
    "next_4q_open_3plus_net_arr",
    "next_4q_open_4plus_net_arr",
]

# I need to keep track in the dashboard of the latest day the extract was taking out, this is shown to the business users and used in the
# historical report
results["current_fiscal_quarter_day_normalised"] = max(
    df["current_fiscal_quarter_day_normalised"]
)
results["last_updated"] = date.today()

qtd_pre_aggregated = results[fields_order].copy()

In [13]:
# Test QTD total
qtd_pre_aggregated[qtd_pre_aggregated["agg_key_name"] == "key_bu"].groupby(
    "agg_key_value"
).agg({"qtd_booked_net_arr": "sum"})

               qtd_booked_net_arr
agg_key_value
comm                   4328280.81
entg                  11075995.14
other                  -175783.21

### Write to X-Ray source gSheet file

In [14]:
# Write to GSheets
sheet_id = "1Vwu8euxRgIF3QYWK8hAbp4Vy21AlFfpDwI4MaEEiIWk"
sheet_name = "jupyter_qtd_aggregated"
write_to_gsheets(sheet_id, sheet_name, qtd_pre_aggregated)

ERROR:root:<HttpError 400 when requesting https://sheets.googleapis.com/v4/spreadsheets/1Vwu8euxRgIF3QYWK8hAbp4Vy21AlFfpDwI4MaEEiIWk:batchUpdate?fields=replies%2FaddSheet&alt=json returned "Invalid requests[0].addSheet: A sheet with the name "jupyter_qtd_aggregated" already exists. Please enter another name.">

# Historical QTR Coverages Data Extract

In [15]:
# Write to GSheets
sheet_id = "1Vwu8euxRgIF3QYWK8hAbp4Vy21AlFfpDwI4MaEEiIWk"
sheet_name = "jupyter_hist_qtr_aggregated"
write_to_gsheets(sheet_id, sheet_name, hist_qtr_metrics)

ERROR:root:<HttpError 400 when requesting https://sheets.googleapis.com/v4/spreadsheets/1Vwu8euxRgIF3QYWK8hAbp4Vy21AlFfpDwI4MaEEiIWk:batchUpdate?fields=replies%2FaddSheet&alt=json returned "Invalid requests[0].addSheet: A sheet with the name "jupyter_hist_qtr_aggregated" already exists. Please enter another name.">

# Historical FY / N4Q Coverages Data Extract

In [16]:
# Write to GSheets
sheet_id = "1Vwu8euxRgIF3QYWK8hAbp4Vy21AlFfpDwI4MaEEiIWk"
sheet_name = "jupyter_hist_fy_n4q_aggregated"
write_to_gsheets(sheet_id, sheet_name, hist_fy_n4q_metrics)

ERROR:root:<HttpError 400 when requesting https://sheets.googleapis.com/v4/spreadsheets/1Vwu8euxRgIF3QYWK8hAbp4Vy21AlFfpDwI4MaEEiIWk:batchUpdate?fields=replies%2FaddSheet&alt=json returned "Invalid requests[0].addSheet: A sheet with the name "jupyter_hist_fy_n4q_aggregated" already exists. Please enter another name.">